@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-barra-lateral: #fffcfc;

    --color-texto: #000000;
    --color-texto-menu: #000000;

    --color-menu-houver: #2d5d5f;
    --color-menu-houver-texto: #f5f3f3f1;
    
    --color-boton: #000000d7;
    --color-boton-texto: #ffffff;

    --color-linha: #b4b4b4;

    --color-switch-base: #8d8d8d;
    --color-switch-circulo: #f1f1f1;

    --color-scroll: #afafaf;
    --color-scroll-hover: #868686;

    --color-main:#eceaea;
    --color-main-texto:#000000;
}

.dark_mode{
    --color-barra-lateral: #2c2d31;

    --color-texto: #ffffff;
    --color-texto-menu: #c4c4c5;

    --color-menu-houver: #2d5d5f;
    --color-menu-houver-texto: #eeeeee;
    
    --color-boton: #2d5d5f;
    --color-boton-texto: #ffffff;

    --color-linha: #5a5a5a;

    --color-switch-base: #22a636;
    --color-switch-circulo: #ffffff;

    --color-scroll: #44454a;
    --color-scroll-hover: #44454a;

    --color-main:#2c2d31;
    --color-main-texto:#ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aleo", serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--color-main);
}

@font-face {
    font-family: 'sans-serif';
    src: url('../FONTS/Aleo/Aleo-Regular.ttf');
    font-weight: normal;
}

/*------------------------->Menu*/
.menu{
    position: fixed;
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-boton);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    color: var(--color-boton-texto);
    right: 15px;
    top: 15px;
    z-index: 100;
}


/*------------------------->Barra Lateral*/
.barra-lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: width 0.5s ease, background-color 0.3s ease,left 0.5s ease;
    z-index: 50;
}

.mini_barra_lateral{
    width: 80px;
}

.barra-lateral span{
    width: 100%;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.6s ease,width 0.5s ease;
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}


/*------------------------->Nome da pagina*/
.barra-lateral .nome-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;

}
.barra-lateral .nome-pagina img{
    min-width: 4rem;
    height: 4rem;
    display: flex;
    margin-left: 0.5rem;
    margin-top: 0.6rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.barra-lateral .nome-pagina span{
    font-size: 25px;
    margin-left: 5px;
    opacity: 1;
    transition: opacity 0.6s ease;
}
.barra-lateral .nome-pagina .txt_logo{
    margin-left: 3.2rem;
    font-size: 2rem;
}
.barra-lateral .nome-pagina span.oculto{
    opacity: 0;
}


/*------------------------->Menu de Navegacao*/
.barra-lateral .navegacao{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-lateral .navegacao::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacao::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacao::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
    border-radius: 5px;
}
.barra-lateral .navegacao li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}
.barra-lateral .navegacao a{
    width: 98%;
    height: 50px;
    display: flex;
    padding-left: 13px;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    background-color: var(--color-barra-lateral);
    color: var(--color-texto-menu);
}
.barra-lateral .navegacao a:hover{
    background: var(--color-menu-houver);
    color: var(--color-menu-houver-texto);
}

.barra-lateral .navegacao i{
    min-width: 40px;
    font-size: 22px;
}

/*------------------------->Menu de Navegacao = INDIVIDUAL PARA CADA PAGINA*/



/*------------------------->Menu de Navegacao = Linha*/
.barra-lateral .linha{
    width: 100%;
    height: 2px;
    border-radius: 12px;
    margin-top: 20px;
    background-color: var(--color-linha);
}

/*------------------------->Menu de Navegacao = Modo Dark*/
.barra-lateral .modo_escuro{
    width: 100%;
    margin-bottom: 80px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    transition: all 0.5s ease-in-out;
}
.barra-lateral .modo_escuro * {
    transition: opacity 0.5s ease-in-out;
}
.barra-lateral .modo_escuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}
.barra-lateral .modo_escuro i{
    width: 50px;
    padding-left: 11px;
    font-size: 22px;
}

/*------------------------->Menu de Navegacao = Switch*/
.barra-lateral .modo_escuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    height: 45px;
    cursor: pointer;
}
.barra-lateral .modo_escuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-switch-base);
    border-radius: 50px;
}
.barra-lateral .modo_escuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circulo);
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
}
.barra-lateral .modo_escuro .circulo.prendido{
    left: 15px;
}

/*------------------------->Menu de Navegacao = Usuario*/

.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width:50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nome{
    font-size: 15px;
    font-weight: 600;
    padding-left: 8px;
}
.barra-lateral .usuario i{
    font-size: 20px;
}

/*---------------------------------------Main*/
main{
    margin-left: 250px;
    padding: 2rem;
    background-color: var(--color-main);
    color: var(--color-main-texto);
    width: calc(100% - 250px);
    transition: margin-left 0.5s ease, width 0.5s ease;
}
main.min_main {
    margin-left: 80px;
    width: calc(100% - 80px);
    transition: margin-left 0.5s ease, width 0.5s ease;
}
.aba{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    height: 100%;
    z-index: 2;
}

.welcome{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.5rem;
    position: relative;
    padding: 10px;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%; 
}

/*------------------------->Main = Linha*/
.linha_main{
    width: 100%;
    height: 2px;
    border-radius: 12px;
    margin-top: 5px;
    background-color:
    var(--color-linha);
}

/*--------------------------------------Responsivo*/
@media (max-heigth: 660px){
    .barra-lateral .nome-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo_escuro{
        margin-bottom: 3px;
    }
}   
@media (max-width: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max_barra_lateral{
        left: 0;
    }
    .menu{
        display: flex;
        background-color: var(--color-boton);
    }
    .menu i:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
        width: 100%;
    }
    main.min_main{
        margin-left: 0;
    }
}

/* Media query para telas menores que 768px */
@media (max-width: 768px) {
    .main .container {
      flex-basis: 100%;
    }
  }
