@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aleo", "Sans-serif";
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .3);
}

dialog {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    width: 25rem;
    max-height: 90vh;
    border: 3px solid #000000; 
    padding: 2rem;
    max-width: 90%;
    background-color: #ffffff;
    overflow-y: auto; /* Permite rolagem apenas no eixo vertical */
    overflow-x: hidden; /* Desativa rolagem no eixo horizontal */
}

dialog::-webkit-scrollbar {
    display: none;
}

#dialogbutton {
    border: none;
    width: 15rem;
    height: 3rem;
    background-color: #2d979b;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    font-size: 0.93rem;
    font-weight: 500; 
    box-shadow: 3px 7px 10px rgba(0, 0, 0, .212);
    margin: 0 auto;
    display: block;
}

.close-button {
    box-shadow: none;
    background: none; 
    font-size: 1.5rem; 
    color: #000000;
    cursor: pointer;
    position: absolute; 
    top: 1rem; 
    right: 1rem; 
}

.form-header {
    font-size: 0.9rem;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form input, 
.form textarea, 
.form select {
    width: 100%;
    height: 3rem; 
    border: 0.1rem solid #000000;
    border-radius: 8px;
    padding: 0.5rem; 
    box-shadow: 0px 7px 10px rgba(0, 0, 0, .212);
    margin-top: 0.5rem; 
    margin-bottom: 1rem; 
    transition: border-color 0s, box-shadow 0s; 
}

form input:focus, 
.form textarea:focus, 
.form select:focus {
    outline: none; 
    border: 0.2rem solid #2d979b; 

}

textarea {
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    overflow: hidden; 
}

.obs textarea {
    width: 20.6;
    height: 6rem; 
}

.input-group {
    display: flex;
    flex-direction: column; 
    font-weight: bold;
}

.input-box {
    margin-bottom: 1.5rem; 
}



.photo-upload {
    width: 10rem;
    height: 9rem;
    border: 0.1rem solid #000000;
    border-radius: 1.5rem;
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
    margin: 0 auto; 
    margin-top: 1rem;
    color: #000000;
    font-weight: bold;
    text-align: center; 
    padding: 2rem; 
    box-sizing: border-box; 
    flex-direction: column;
    position: relative;
    top: -1rem;
}

#product-image {
    display: none; 
}

/* Media Queries para Responsividade */

@media (min-width: 641px) and (max-width: 775px){
    .obs textarea{
        width: 20.6rem;
        height: 6rem;
    }
}


@media (min-width: 776px) and (max-width: 1071px){
    .obs textarea{
        width: 20.6rem;
        height: 6rem;
    }

    
    .obs{
        position: relative;
        
    }
}


@media (min-width: 1072px){
    dialog {
        width: 60rem; 
        height: 38rem;
        border: 0.2rem solid #000000d0;
        border-radius: 1.8rem;
    }

    .title {
        white-space: nowrap; 
        font-size: 1rem;
        display: block;
        margin-right: 30rem;
        position: relative;
        left: 0.5rem;
        margin-top: -1rem;
    }

    .form-header {
        font-size: 0.9rem;
        text-align: center;
        margin-top: 1rem;
    }

    #product-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0; 
        cursor: pointer;
    }
    
    .photo-upload {
        width: 12rem;
        height: 12rem;
        border: 0.1rem solid #000000;
        border-radius: 2rem;
        cursor: pointer;
        margin-top: 1rem;
        margin-right: 46rem;
        cursor: pointer; 
        color: #000000;
        font-weight: bold;
        text-align: center; 
        padding: 0.2rem; 
        box-sizing: border-box; 
        flex-direction: column; 
        background-color: #ffffff;
        position: relative;
        top: 0rem;
    }

    .photo-upload:hover {
        background-color: #e0e0e0; 
    }
    

    .form input[type="file"] {
        width: 10rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1rem solid #000000; 
    }

    img {
        margin-top: 1rem;
        width: 1rem;
        border-radius: 8px;
    }
    form input, .form textarea, .form select {
        display: flex;
        width: 13rem;
        height: 2.4rem;
        border: 0.1rem solid #000000;
        border-radius: 8px;
        outline: none;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, .212);
        position: relative;
        
    }

    .input-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap; 
        margin: -2rem;
        position: relative;
        left: 7.5rem;
        top: -10.9rem;
        padding: 0rem 8rem;
        margin-right: 2.5rem; 
        
    }

    .input-box {
        flex: 0 0 calc(50% - 1.5rem); 
        margin-bottom: -0.4rem; 

    }

    .fornecedor {
        display: block;
        margin-left: 10.5rem;
        width: 10rem;
        position: relative;
        left: -9.4rem;
    }
    
    .fornecedor textarea {
        width: 26.4rem;
        height: 4rem; 
    }

    .cnpj{
        position: relative;
        top: 0rem;
        left: 8rem;
    }

    .cnpj input{
        width: 12rem;
        height: 4rem;
    }


    .fileira2{
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
   
    .obs{
        position: relative;
        right: 4rem;
        margin-top: -0.5rem;
    }

    .obs textarea{
        width: 45rem;
        height: 7.5rem;
    }
    
    .close-button {
        font-size: 2.5rem;
    }

    #dialogbutton {
        border: none;
        width: 15rem;
        height: 3rem;
        background-color: #2d979b;
        border: 0.1rem solid #000000d0;
        border-radius: 30px;
        cursor: pointer;
        color: white;
        font-size: 0.9rem;
        font-weight: 500; 
        box-shadow: 3px 7px 10px rgba(0, 0, 0, .212);
        margin: 0 auto; 
        display: block; 
        position: relative;
        top: -9.2rem;
        left: 19.5rem;
    }
}
