/*------------------------->POP-UP
/* Estilos do botão de imagem */
.open-popup-btn {
    width: 150px;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* Animação no hover */
.open-popup-btn:hover {
    transform: scale(1.1);
}

/* Estilos do fundo do pop-up */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49, 49, 49, 0.1);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


/* Estilos do pop-up no formato de celular */
.popup-content {
    width: 350px;
    height: 600px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Estilos para o cabeçalho do pop-up */
.popup-header {
    background: var(--color-main-fundo);
    padding: 17px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: white;
}

/* Estilo da seção de perfil */
.perfil {
    background-color: #eee;
    padding: 20px; 
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-btnSair {
    background-color: var(--color-main-fundo);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn_txt:hover{
    color: var(--color-main-texto);
    transform: scale(1.1);
}
.popup-action-btn:hover{
    background-color: rgb(188, 187, 187);
    color: var(--color-main-texto);
    transform: scale(1.1);
}

.popup-action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px auto;
    padding: 20px 30px;
}

/* Estilo para alterar foto */
.alterar-foto {
    text-align: center;
    font-size: 18px;
    color: #40706b;
    cursor: pointer;
}


/* Estilos para informações */
.informacoes h2 {
    font-size: 10px;
    color: #333;
    margin-bottom: 8px;
}


.informacoes input {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #40706b;
    background-color: transparent;
    font-size: 14px;
    color: #333;
}
.informacoes input:focus{
    border: none;
    transition: border 0;
}

/* Estilo do botão de ação */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    margin: auto;
    color: white;
    border-radius: 10px;
    font-size: 28px;
}

/* Estilo do texto dentro do botão */
.btn_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.btn button {
    padding: 18px 20px;
    background-color: var(--color-menu-houver);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo no hover do botão */
.btn button:hover {
    background-color: var(--color-menu-houver); 
}

/* Botão de fechar o pop-up */
.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}
.photo-upload {
    width: 10rem;
    height: 9rem;
    border: 0.1rem solid #000000;
    border-radius: 1.5rem;
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
    margin: 0 auto; 
    margin-top: 1rem;
    color: #000000;
    font-weight: bold;
    text-align: center; 
    padding: 2rem; 
    box-sizing: border-box; 
    flex-direction: column;
    position: relative;
    top: -1rem;
}

#product-image {
    display: none; 
}
@media (min-width: 1072px){
    .perfil{
        padding: 5px;
    }
    .perfil .photo-upload{
        margin-left: 75px;
    }
    .photo-upload {
        width: 12rem;
        height: 12rem;
        border: 0.1rem solid #000000;
        border-radius: 2rem;
        cursor: pointer;
        margin-top: 1rem;
        margin-right: 44rem;
        cursor: pointer; 
        color: #000000;
        font-weight: bold;
        text-align: center; 
        padding: 0.2rem; 
        box-sizing: border-box; 
        flex-direction: column; 
        background-color: #ffffff;
        position: relative;
        top: 0rem;
    }

    .photo-upload:hover {
        background-color: #e0e0e0; 
    }
}
@media (max-width: 1072px){
    .perfil .photo-upload{
        background-color: #fff; 
    }
}