/* .dropdown */
.dropdown {
  position: relative;
}

.dropdownButton {
  width: 4rem;
  background-color: #2d979b;
  color: white;
  border: none;
  padding: 1rem 0.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

.dropdownButton:hover {
  background-color: #247376;
}

.dropdownContent {
  display: none; /* Inicialmente o dropdown está escondido */
  position: absolute;
  background-color: #fff;
  border: 0rem solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.3rem;
  min-width: 120px;
}

.dropdownContent .dropdownItem {
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  font-size: 0.7rem;
  color: #333;
  border-radius: 5px;
  color: black;
  background-color: rgb(255, 255, 255);
}

.dropdownContent .dropdownItem:hover {
  background-color: #f2f2f2;
}

.dropdownContent .dropdownItem.danger {
  color: #247376;
}

.dropdownContent .dropdownItem.danger:hover {
  background-color: #f8d7da;
}

/* Exibir o dropdown quando uma classe for adicionada via JavaScript */
.dropdown.open .dropdownContent {
  display: block; /* O dropdown aparecerá quando a classe "open" for adicionada */
}

/* Tabela */
.productTable {
  width: 100%; /* A tabela ocupa toda a largura disponível */
  border-collapse: collapse;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 0; /* Removido o deslocamento */
}

.productTable thead th {
  background-color: #2d979b;
  width: 20rem;
  font-size: 0.8rem; /* Reduz a fonte dos cabeçalhos */
  padding: 0.5rem 0.3rem; /* Espaçamento menor */
  text-align: left;
  border: 0rem solid #ddd;
}

.productTable tbody td {
  font-size: 0.7rem; /* Reduz a fonte dos dados */
  padding: 0.3rem; /* Menor espaçamento interno */
  text-align: left;
}

/* Botões no dropdown também devem ser ajustados */
.dropdownButton {
  font-size: 0.7rem;
  padding: 0.3rem;
}

.dropdownContent .dropdownItem {
  font-size: 0.7rem;
  padding: 0.2rem;
}

.productTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.productTable tbody tr:hover {
  background-color: #d9f5f6; /* Cor de destaque ao passar o mouse */
}

/* Ações */
.actionsBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.searchInput {
  border: none; /* Remove borda padrão */
  background-color: #2d979b; /* Fundo ciano */
  color: white; /* Texto branco */
  padding: 0.5rem 1rem; /* Espaçamento interno */
  font-size: 0.9rem; /* Tamanho da fonte */
  width: 250px; /* Largura do input */
  outline: none; /* Remove o contorno ao focar */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.searchInput {
  width: 12rem;
  align-items: center;
}

.searchInput::placeholder {
  color: white; /* Placeholder branco */
}

.searchInput:focus {
  background-color: #247376; /* Tom mais escuro no foco */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Efeito de destaque */
}

.buttonFilter {
  position: relative;
  left: 1rem;
  background-color: #2d979b;
}

.buttonPrimary {
  position: relative;
  left: 1.2rem;
  background-color: #2d979b;
}

.buttonFilter:hover {
  background-color: #247376; /* Tom mais escuro no foco */
}

.buttonPrimary:hover {
  background-color: #247376; /* Tom mais escuro no foco */
}

/* Modal */
/* Backdrop para o modal (fundo escurecido) */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
  display: flex;
  justify-content: center; /* Centraliza o modal na tela */
  align-items: center; /* Centraliza o modal na tela */
  z-index: 1000; /* Coloca o backdrop sobre outros conteúdos */
  
}

/* Estilo do modal */
/* Estilo do Modal */
/* Modal */
.modal {
width: 20rem;
height: 35rem;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
padding: 2rem;
border-radius: 8px;
border: 1px solid black;
box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
z-index: 9999;
max-width: 90%;
overflow-y: auto;  /* Permite rolagem vertical */
}

/* Estilo de fundo do modal (overlay) */
.modal-overlay {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.5);
z-index: 9998;
}

/* Estilo para o botão de fechar */
button.close-button {
position: absolute;
top: 10px;
right: 10px;
font-size: 20px;
background: none;
border: none;
cursor: pointer;
}


.modal input,
.modal textarea {
border: 0.1rem solid #247376; /* Bordas azuis */
padding: 0.75rem;
font-size: 14px;
border-radius: 4px;
width: 100%;
box-sizing: border-box;
margin-bottom: 1rem;
}

/* Estilo específico para o campo de observações */
textarea.observations {
height: 6rem; /* Tamanho maior para observações */
resize: none; /* Desabilita o redimensionamento */
box-sizing: border-box; /* Garantir que o padding não afete o tamanho */
}

/* Estilo do título do modal */
.modal h2 {
margin-bottom: 20px;
font-size: 1.5rem;
}

/* Estilo dos campos dentro do formulário */
.modal form div {
margin-bottom: 10px;
}

/* Estilo dos botões de ação no modal */
/* Estilo do modal */
.modalActions {
display: flex;
justify-content: space-between;
}

.modalActions button {
padding: 10px 20px;
font-size: 1rem;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

/* Botão de Cadastrar */
.modalActions button:first-child {
background-color: #2d979b; /* Cor de fundo do botão Cadastrar */
color: white;
border: none;
}

.modalActions button:first-child:hover {
background-color: #247376; /* Cor de fundo no hover para Cadastrar */
}

/* Botão de Cancelar */
.modalActions button:last-child {
background-color: #f0f0f0; /* Cor de fundo do botão Cancelar */
color: #333;
border: 1px solid #ddd;
}

.modalActions button:last-child:hover {
background-color: #247376; /* Cor de fundo no hover para Cancelar */
}

/* Estilo para os botões Editar e Excluir */
.modalActions button.editButton,
.modalActions button.deleteButton {
padding: 10px 20px;
font-size: 1rem;
border-radius: 5px;
background-color: white; /* Cor de fundo branco */
color: #333; /* Cor do texto */
border: 1px solid #ddd; /* Borda cinza clara */
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease; /* Efeito de transição */
}

/* Efeito hover para Editar */
.modalActions button.editButton:hover {
background-color: #2d979b; /* Cor de fundo ciano */
color: white; /* Cor do texto branca */
border: 1px solid #247376; /* Cor da borda ao passar o mouse */
}

/* Efeito hover para Excluir */
.modalActions button.deleteButton:hover {
background-color: #e74c3c; /* Cor de fundo vermelho */
color: white; /* Cor do texto branca */
border: 1px solid #c0392b; /* Cor da borda ao passar o mouse */
}



.pageTitle {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  color: #2d979b;
}

.filtro {
  position: relative;
  background: var(--color-main);
  border-radius: 1rem;
  display: block;
}

.menuFiltro {
  margin-top: 4.5px;
  position: absolute;
  top: 7rem;
  left: 14rem;
  display: block;
  background: rgb(255, 255, 255);
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.filtro ul {
  list-style-type: none;
  padding: 0;
}

.filtro a {
  color: #0a0a0a;
  display: block;
  padding: 0.1rem;
  margin: 0.2rem;
  text-decoration: none;
  text-align: center;
}

.filtro a.selected {
  background: linear-gradient(to left, #2d5d5f, #397a7c, #54adb0);
  border-radius: 1rem;
  color: var(--color-menu-houver-texto);
}

.filtro a:hover {
  background: linear-gradient(to left, #2d5d5f, #397a7c, #54adb0);
  border-radius: 1rem;
  color: var(--color-menu-houver-texto);
}





/* Responsividade para telas maiores (acima de 768px) */
@media (max-width: 1080px) {
  
  
  .tableContainer {
      width: 100%;
      height: 100%;
      margin-left: 25rem;
      border: 2px solid red;
      
  }

  .productTable thead th {
      background-color: #2d979b;
      width: 10rem;
      height: 1rem;
      font-size: 0.8rem; /* Reduz a fonte dos cabeçalhos */
      padding: 0.5rem 0.3rem; /* Espaçamento menor */
      text-align: left;
      border: 0rem solid #ddd;
  }

  .productTable tbody td {
      font-size: 1.1rem; /* Reduz a fonte dos dados */
      padding: 0.3rem; /* Menor espaçamento interno */
      text-align: left;
  }

  .productTable {
      width: 60rem; /* A tabela ocupa toda a largura disponível */
      height: 50rem;
      border-collapse: collapse;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      left: 0; /* Removido o deslocamento */
  }

  .dropdownButton {
      width: 5rem;
      height: 2rem;
      font-size: 0.9rem;
      padding: 0.3rem;
  }

  .dropdownContent .dropdownItem {
      font-size: 0.7rem;
      padding: 0.2rem;
  }
}


@media (max-width: 1366px) {
  
  
  
  .tableContainer {
    margin-left: 16.1rem;
    align-items: center;
    
}

.productTable thead th {
    background-color: #2d979b;
    width: 15rem;
    height: 1rem;
    font-size: 0.8rem; /* Reduz a fonte dos cabeçalhos */
    padding: 0.5rem 0.3rem; /* Espaçamento menor */
    text-align: left;
    border: 0rem solid #ddd;
    
}

.productTable tbody td {
    font-size: 1.1rem; /* Reduz a fonte dos dados */
    padding: 0.3rem; /* Menor espaçamento interno */
    text-align: left;
    
}

.productTable {
    width: 68rem; /* A tabela ocupa toda a largura disponível */
    height: 50rem;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0; /* Removido o deslocamento */
    
}

.dropdownButton {
    width: 5rem;
    height: 2rem;
    font-size: 0.9rem;
    padding: 0.3rem;
}

.dropdownContent .dropdownItem {
    font-size: 0.7rem;
    padding: 0.2rem;
}


.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
  display: flex;
  justify-content: center; /* Centraliza o modal na tela */
  align-items: center; /* Centraliza o modal na tela */
  z-index: 1000; /* Coloca o backdrop sobre outros conteúdos */
  
}

/* Estilo do modal */
/* Estilo do Modal */
/* Modal */
.modal {
width: 40rem;
height: 40rem;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
padding: 2rem;
border-radius: 8px;
border: 1px solid black;
box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
z-index: 9999;
max-width: 90%;


}

/* Estilo de fundo do modal (overlay) */
.modal-overlay {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.5);
z-index: 9998;
}

/* Estilo para o botão de fechar */
button.close-button {
position: absolute;
top: 10px;
right: 10px;
font-size: 20px;
background: none;
border: none;
cursor: pointer;
}


.modal input,
.modal textarea {
border: 0.1rem solid #247376; /* Bordas azuis */
padding: 0.75rem;
font-size: 14px;
border-radius: 4px;
width: 100%;
box-sizing: border-box;
margin-bottom: 1rem;
}

}