/* Alinhar os ícones lado a lado usando flex */
.iconContainer {
  display: flex;  /* Exibe os ícones lado a lado */
  gap: 0.2rem;     /* Diminui o espaçamento entre os ícones */
  justify-content: flex-start;  /* Alinhamento à esquerda (opcional) */
  align-items: center;  /* Alinhamento vertical no centro */
}

/* Estilo dos ícones */
.dropdownItem {
  font-size: 1rem;  /* Tamanho dos ícones */
  color: #000;      /* Cor dos ícones */
  padding: 0.1rem;     /* Diminui o padding ao redor dos ícones */
  cursor: pointer;  /* Cursor de ponteiro */
}

/* Estilo ao passar o mouse sobre os ícones */
.dropdownItem:hover {
  color: #247376;   /* Cor ao passar o mouse */
}

/* Estilo para o ícone de excluir (se necessário) */
.dropdownItem.danger {
  color: #e74c3c;
}

/* Tabela */
.productTable {
  width: 100%; /* A tabela ocupa toda a largura disponível */
  border-collapse: collapse;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 0; /* Removido o deslocamento */
}

.productTable thead th {
  background-color: #2d979b;
  width: 20rem;
  font-size: 0.8rem; /* Reduz a fonte dos cabeçalhos */
  padding: 0.5rem 0.3rem; /* Espaçamento menor */
  text-align: left;
  border: 0rem solid #ddd;
}

.productTable tbody td {
  font-size: 0.7rem; /* Reduz a fonte dos dados */
  padding: 0.3rem; /* Menor espaçamento interno */
  text-align: left;
  border-bottom: 1px solid #0000002a; /* Linha divisória fraca entre os produtos */
  border-right: 1px solid #0000002a; /* Linha divisória fraca entre as colunas */
}

.productTable tbody tr:last-child td {
  border-bottom: none; /* Remove a linha divisória no último item */
}

.productTable td:last-child {
  border-right: none; /* Remove a linha divisória na última coluna */
}


.productTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.productTable tbody tr:hover {
  background-color: #d9f5f6; /* Cor de destaque ao passar o mouse */
}

/* Ações */
.actionsBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.searchInput {
  border: none; /* Remove borda padrão */
  background-color: #2d979b; /* Fundo ciano */
  color: white; /* Texto branco */
  padding: 0.5rem 1rem; /* Espaçamento interno */
  font-size: 0.9rem; /* Tamanho da fonte */
  width: 250px; /* Largura do input */
  outline: none; /* Remove o contorno ao focar */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

.searchInput {
  width: 12rem;
  align-items: center;
}

.searchInput::placeholder {
  color: white; /* Placeholder branco */
}

.searchInput:focus {
  background-color: #247376; /* Tom mais escuro no foco */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Efeito de destaque */
}

.buttonFilter {
  position: relative;
  left: 0.4rem;
  background-color: #2d979b;
  border-radius: 8px; /* Bordas arredondadas */
  color: white; /* Texto branco */
  padding: 0.5rem 1rem; /* Espaçamento interno */
  border: none; /* Remove borda */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  cursor: pointer; /* Indica que é um botão clicável */
  
}

.buttonPrimary {
  position: relative;
  left: 0.6rem;
  background-color:#2d979b;
  border-radius: 8px; /* Bordas arredondadas */
  color: white; /* Texto branco */
  padding: 0.5rem 1rem; /* Espaçamento interno */
  border: none; /* Remove borda */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  cursor: pointer; /* Indica que é um botão clicável */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease; /* Transições suaves */
}


.buttonFilter:active,
.buttonPrimary:active {
  background-color: #1d5c5f; /* Tom ainda mais escuro ao clicar */
  transform: translateY(0); /* Volta ao normal após o clique */
}


.Title{
  display: flex;
  align-items: center; /* Alinha verticalmente os itens /
  gap: 1.5rem; / Espaçamento entre o cubo e o título */
  padding-top: 2rem;
  align-items: baseline;
  flex-shrink: 0;
}

.pageTitle {
  text-align: center;
  font-size: 2rem;
  padding-top: 3rem;
  color: #2d979b;
  margin-left: 1.5rem; 
}


.filtro {
  position: relative;
  background: var(--color-main);
  border-radius: 1rem;
  display: block;
}

.menuFiltro {
  margin-top: 4.5px;
  position: absolute;
  top: 11.3rem;
  left: 11.3rem;
  display: block;
  background: rgb(255, 255, 255);
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.filtro ul {
  list-style-type: none;
  padding: 0;
}

.filtro a {
  color: #0a0a0a;
  display: block;
  padding: 0.1rem;
  margin: 0.2rem;
  text-decoration: none;
  text-align: center;
}

.filtro a.selected {
  background: linear-gradient(to left, #2d5d5f, #397a7c, #54adb0);
  border-radius: 1rem;
  color: var(--color-menu-houver-texto);
}

.filtro a:hover {
  background: linear-gradient(to left, #2d5d5f, #397a7c, #54adb0);
  border-radius: 1rem;
  color: var(--color-menu-houver-texto);
}



@media (max-width: 320px) {
  .tableContainer {
    position: relative;
    top: -3.7rem;
  }
  
  .productTable tbody td {
    font-size: 0.7rem; /* Reduz a fonte dos dados */
    padding: 0.3rem; /* Menor espaçamento interno */
    text-align: left;
    
    
}
  
  
.productTable thead th {
    background-color: #2d979b;
    width: 0rem;
    height: 1rem;
    font-size: 0.8rem; /* Reduz a fonte dos cabeçalhos */
    padding: 0.5rem -0.1rem; /* Espaçamento menor */
    border: 0rem solid #ddd;
}

.searchInput {
  width: 7.5rem;
  position: relative;
  left: 0rem;
  

}


.pageTitle {
  text-align: center;
  font-size: 2rem;
  padding-top: 3rem;
  color: #2d979b;
  position: relative;
  right: 1.7rem;
}

.buttonFilter {
  position: relative;
  right: 2rem;



}

.menuFiltro {
  left:1rem ;
}

}

@media (max-width: 321px) and (max-width: 360px) {

  .buttonFilter {
    width: 6rem;
    height: 2.1rem;
    position: relative;
    right: 2rem;

}

.searchInput {
  width: 7.5rem;
  position: relative;
  left: 0rem;
  

}

.buttonPrimary {
  height: 2.1rem;

}

.menuFiltro {
  left: 10.3rem;
  top: 11.3rem;
  


}




}

@media (max-width: 361px) {
  .searchInput {
    width: 7.5rem;
    position: relative;
    left: 0rem;
    
  
  }

  .buttonFilter {
    width: 6rem;
    height: 2.1rem;
    position: relative;
    right: 2rem;
  
  
  }

  .buttonPrimary {
    height: 2.1rem;
  
  }

  .menuFiltro {
  left: 10.3rem;
  top: 11.3rem;
  


}

}

@media (min-width: 768px) {

  .Title{
    justify-content: center;
    
  }


}




@media (min-width: 1025px) {
  .tableContainer {
    margin-left: 17rem;
    display: center;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    height: 100vh;
    width: 100%;
  }

  .productTable thead th {
      background-color: #2d979b;
      width: 10rem;
      height: 1rem;
      font-size: 0.8rem; /* Reduz a fonte dos cabeçalhos */
      padding: 0.5rem 0.3rem; /* Espaçamento menor */
      text-align: left;
      border: 0rem solid #ddd;
  }

  .productTable tbody td {
      font-size: 1.1rem; /* Reduz a fonte dos dados */
      padding: 0.3rem; /* Menor espaçamento interno */
      text-align: left;
  }

  .productTable {
      border-collapse: collapse;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      left: 0; /* Removido o deslocamento */
  }

  /* Estilo dos ícones */
  .dropdownItem {
    font-size: 1.6rem;  /* Tamanho dos ícones */
    color: #000;      /* Cor dos ícones */
    padding: 0.1rem;     /* Diminui o padding ao redor dos ícones */
    cursor: pointer;  /* Cursor de ponteiro */
  }
  .dropdownContent .dropdownItem {
      font-size: 0.7rem;
      padding: 0.2rem;
  }

  .menuFiltro {
    margin-top: 4.5px;
    position: absolute;
    top: 9.2rem;
    left: 51.5rem;
    display: block;
    background: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 5rem;
  }


  /* Estilo para o botão de fechar */
  button.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  }

  /* Estilo específico para o campo de observações */
  textarea.observations {
  height: 6rem; /* Tamanho maior para observações */
  resize: none; /* Desabilita o redimensionamento */
  box-sizing: border-box; /* Garantir que o padding não afete o tamanho */
  }

  .Title{
    justify-content: center;
    
  }

}

@media (min-width: 1440px) {
  .tableContainer {
    margin-left: 17rem;
    display: center;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    height: 100vh;
    width: 100%;

  }

  .productTable thead th {
      background-color: #2d979b;
      width: 10.8rem;
      height: 1rem;
      font-size: 0.8rem; /* Reduz a fonte dos cabeçalhos */
      padding: 0.5rem 0.3rem; /* Espaçamento menor */
      text-align: left;
      border: 0rem solid #ddd;
  }

  .productTable tbody td {
      font-size: 1.1rem; /* Reduz a fonte dos dados */
      padding: 0.3rem; /* Menor espaçamento interno */
      text-align: left;
  }

  .productTable {
      border-collapse: collapse;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      left: 0; /* Removido o deslocamento */
  }



  .menuFiltro {
    margin-top: 4.5px;
    position: absolute;
    top: 8.3rem;
    left: 53.5rem;
    display: block;
    background: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }


  }

  /* @media (min-width: 1920px) {

    .tableContainer {
      margin-left: 17rem;
      display: center;
      justify-content: center;
      align-items: center;
      padding-right: 1rem;
      height: 100vh;
      width: 100%;
  
    }
  
    .productTable thead th {
        background-color: #2d979b;
        width: 10.8rem;
        height: 1rem;
        font-size: 0.8rem; 
        padding: 0.5rem 0.3rem; 
        text-align: left;
        border: 0rem solid #ddd;
    }
  
    .productTable tbody td {
        font-size: 1.1rem; 
        text-align: left;
    }
  
    .productTable {
        border-collapse: collapse;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: 0; 
    }


    
  }

*/


  