
.table-container {
  width: 100%; /* Ocupa 100% da largura do contêiner pai */
}

table {
  width: 100%; /* Ocupe 100% da largura disponível */
  border-collapse: collapse;
  margin-top: 1rem;
  table-layout: auto;
}

th, td {
  border: 0.2rem solid #ddd;
  padding: 0.5rem;
  font-size: 1.2rem; /* Aumentando o tamanho da fonte dos produtos e títulos */
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* Estilos do dropdown */
.dropdown {
  position: relative;
}

.dropdown-btn {
  background-color: #4CAF50;
  color: white;
  padding: 0rem 0.7rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 5.8rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 0.6rem 0rem;
}

.dropdown-btn::after {
  content: "▼";
  font-size: 0.8rem;
  margin-left: 8px;
}

.button_editar, .button_excluir {
  display: flex;
  font-size: 0.9rem;
  box-shadow: none;
}

.button_editar i, .button_excluir i {
  font-size: 1rem;
}

.dropdown-content a, .dropdown-content button {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
}

.dropdown-content a:hover, .dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown.open .dropdown-content {
  display: block;
}

@media (min-width: 768px) {
  .table-container {
    overflow-x: auto; /* Permite o scroll horizontal se necessário */
  }

  table {
    width: 100%; /* Garante que a tabela ocupe 100% da largura do container */
    table-layout: fixed; /* Faz com que as colunas tenham larguras fixas */
  }

  th, td {
    font-size: 0.9rem; /* Reduz o tamanho da fonte para melhor ajuste */
    padding: 0.4rem; /* Ajusta o padding para mais espaço */
  }

  .dropdown-content {
    width: auto; /* Ajusta a largura do dropdown para caber seu conteúdo */
  }
  
  .dropdown {
    position: relative;
    display: flex;
    
  }
}

@media (min-width: 769px) {
  th {
    font-size: 1.4rem;  
    text-align: center;
  }

  td {
    font-size: 1.3rem; /* Ajuste o tamanho conforme necessário */
    text-align: center;
}
  
  .dropdown-btn {
      display: block;
      margin: 0 auto;
  }

  /* Estilos para o dropdown */
  .dropdown {
      position: relative;
      display: flex;
  }

  /* Abre o dropdown como um menu fixo para evitar scroll na tabela */
  .dropdown-content {
      display: none;
      position: fixed; /* Altera para fixo */
      background-color: #f9f9f9;
      min-width: 5.8rem;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1000;
      border-radius: 4px;
      padding: 0.6rem 0rem;
  }

  .dropdown-content.show {
      display: block;
  }


}
