.aba{
    margin-bottom: 15px;
    height: 60px;
}
/*-------------------------------------------MAIN = BUSCA RAPIDA*/
.buscar{
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative;
    background-color: var(--color-main);
    height: 45px;
    border-radius: 10px;
    margin: 0px;
}

.search_box {
    background: linear-gradient(to right, #66d2d6, #449194, #2d5d5f);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.156);
    color: #fff;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    overflow: hidden; /* Para garantir que elementos não saiam da div */
}

.search_txt {
    border: none;
    background: none;
    outline: none;
    font-size: 0.5rem;
    color: #fff;
    flex: 1;
  
    margin: 0;
}

.search_txt::placeholder {
    color: #fff;
    opacity: 1;
}

.search_btn {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0; /* Remove margens para que o botão fique colado ao input */
}


i#filter{
    height: 42.5px;
    width: 60px;
}

/*======================== TESTE LIXEIRA =================================

/* From Uiverse.io by vinodjangid07 */ 
.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 38%;
    background-color: #449194;
    cursor: pointer;
    border: 1px solid #66d2d6;
    transition-duration: 0.3s;
    position: relative;
    overflow: hidden;
  }
  .bin-bottom {
    width: 15px;
    z-index: 2;
  }
  .bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
    z-index: 2;
  }
  .bin-button:hover .bin-top {
    transform: rotate(45deg);
  }
  .bin-button:hover {
    background-color: #2d5d5f;
  }
  .bin-button:active {
    transform: scale(0.9);
  }
  .garbage {
    position: absolute;
    width: 14px;
    height: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
  }
  .bin-button:hover .garbage {
    animation: throw 0.4s linear;
  }
  @keyframes throw {
    from {
      transform: translate(-400%, -700%);
      opacity: 0;
    }
    to {
      transform: translate(0%, 0%);
      opacity: 1;
    }
  }
  

/*======================== TESTE ATUALIZAR =================================
  
/* From Uiverse.io by andrew-demchenk0 */
.button {
    gap: 20px;
    position: relative;
    width: 190px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #66d2d6;
    box-shadow: 2px 3px #66d2d6;
    background-color: #449194;
    border-radius: 10px;
    overflow: hidden;
}
.button i{
    margin-top: 1.65px;
    font-size: 0.6rem;
    color: #fff;
}
  
.button, .button__icon, .button__text {
transition: all 0.3s;
}

.button .button__text {
    font-size: 0.9rem;
    transform: translateX(12px);
    color: #fff;
    font-weight: 600;
}

.button .button__icon {
position: absolute;
transform: translateX(105px);
height: 100%;
width:  39px;
background-color: #2d5d5f;
display: flex;
align-items: center;
justify-content: center;
}

.button .svg {
width: 20px;
fill: #66d2d6;
}

.button:hover {
background: #449194;
}
.button:hover .button__text {
    color: #FFF;
}

.button:hover .button__icon {
width: 148px;
transform: translateX(0);
}

.button:active {
transform: translate(3px, 3px);
box-shadow: 0px 0px #66d2d6;
}


/*--------------------------------------Responsivo*/
@media (min-width: 970px){
    .container {
        flex-direction: row;   
    }
}
@media (max-heigth: 660px){
    .barra-lateral .nome-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo_escuro{
        margin-bottom: 3px;
    }
}   
@media (max-width: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max_barra_lateral{
        left: 0;
    }
    .menu{
        display: flex;
        background-color: var(--color-boton);
    }
    .menu i:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
        width: 100%;
    }
    main.min_main{
        margin-left: 0;
    }
}
@media (min-width: 1024px){
    .buscar{
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
    i#filter{
        margin-top: 5px;
    }
    .search_box{
        width: 500px;
    }
    .button {
       gap: 70px;
       margin-top: 1px;
    }
    .search_txt{
        font-size: 1rem;
    }
    .button i{
        margin-top: 1.65px;
        font-size: 1rem;
        color: #fff;
    }
}   
/* Media query para telas menores que 768px */
@media (max-width: 768px) {
    .main .container {
      flex-basis: 100%;
    }
}

@media (max-width: 770px){
    main.min_main {
        width: 100%;
        transition: margin-left 0.5s ease, width 0.5s ease;
    }
}
@media (min-width: 900px){
   
        button {
            border-radius: 12px;
            font-size: 1.2rem;
            height: 2rem;
            padding: 3px;
        }
        .button_atuliza, .button_cadastrar, .button_editar, .button_excluir {
            width: 8rem;
        }
}
@media (min-width: 800px) and (max-width: 899px) {

    .atualiza_export{
        height: 50px;
        margin-top: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    button {
        border-radius: 12px;
        font-size: 1.1rem;
        height: 2rem;
        padding: 3px;
    }
    .button_atuliza, .button_excluir {
        width: 8rem;
    }
}
@media (min-width: 768px) and (max-width: 899px) {
   
}
@media (min-width: 768px){
}