@media (max-width: 450px){
    .logo h3{
        display: none;
    }
    .first-section h1{
        margin-top: 100px;
        font-size: 0.8rem;
    }
    .first-section h2{
        font-size: 1.5rem;
    }
    .btn{
        width: 300px;
    }
    .contentsobre p{
        width: 300px;
    }
}   

@media (min-width: 451px) and (max-width: 768px){
    .btn{
        width: 420px;
    }
    .btn button{
        width: 200px;
    }
    .contentsobre p{
        color: #397a7c  ;
        font-size: 1.6rem;
        width: 450px;
    }
    .faqtext1, .faqtext2, .faqtext3 p{
        font-size: 1.5rem;
    }
}
@media (max-width: 768px) {
    .hamburguer{
        z-index: 1;
        display: block;
    }
    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #2d979b;
        clip-path:  circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    .nav-list a{
        font-size: 24px;
        opacity: 0;
    }
    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }
    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .nav.active .nav-list a{
        opacity: 1;
    }
    .nav.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.active .hamburguer::before{
        transform: rotate(135deg);
    }
    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    
}
@media (min-width: 769px){
    html{
        font-size: 40%;
    }
    .hamburguer{
        display: none;
    }
    .nav{
        gap: 210px;
    }
    .first-section h1{
        font-size: 3rem;
    }
    .first-section h2{
        font-size: 4rem;
    }
    .btn{
      width: 600px;  
    }
    .btn button{
        width: 300px;
    }
    .card1 p{
        font-size: 2rem;
    }
    .card1 h3{
        font-size: 2rem
    }
    .contentsobre p{
        color: #2d5d5f;
        margin-left: 0px;
        font-size: 3rem;
        width: 600px;
    }
    
}
