.usar {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 30rem 2rem;  
    background-color: #d9d9d9;
    width: 100%; 
    box-sizing: border-box; 
}

.usar .titulo {
    text-align: center; 
    color: #2d5d5f;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem; 
}

.cards {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.card1 {
    background: linear-gradient(to left, #2d5d5f, #397a7c, #54adb0);
    height: 300px;
    width: 100%;
    max-width: 250px;
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #2d5d5f;
    transition: 0.2s;
    text-align: center;
}

.card1:hover {
    transform: scale(1.05);
}

.card1 i {
    font-size: 4rem;
}

.card1 h3 {
    font-size: 1rem;
    color: #fff;
    margin-top: 20px;
}

.card1 p {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 20px;
}