.sobre-nos{
    padding-top: 20rem;
    flex-direction: column;
    background-color: #d9d9d9;
    width: 100%;
    height: 100%;
    padding-right: 1rem;
    color: #2d979b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    justify-content: space-between;
}
.contentsobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentsobre h2{
    margin-left: 18px;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.contentsobre p{
    margin-left: 20px;
    text-align: center;
    font-size: 1.5rem;
    width: 370px;
}