.faq{
    background-color: #d9d9d9;
    padding: 37rem 10%; 
}
.interface{
    padding-top: 1rem;
    margin-bottom: 6rem;
}
.faqtitulo1 h2,.faqtitulo2 h2,.faqtitulo3 h2{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin: 0 0 0.5rem 0; 
    cursor: pointer;
    text-align: start;
    color: #d9d9d9;
    font-size: 2rem;
    background-color: #2d979b; 
}

.faq .titulo{
    text-align: start;
    color: #2d979b;
    font-size: 2rem;
}
.faqtext1, .faqtext2, .faqtext3{
    padding-top: 1.5rem;
    margin-top: 0.5rem;
    background-color: #fff;
}
.faqtext1, .faqtext2, .faqtext3 p{
    font-size: 3rem;
    padding: 1rem 0 2rem 2rem;
}
#faqtext1, #faqtext2, #faqtext3 {
    display: none;
}
