.contatos{
    width: 100%;
    background-color: #2d979b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 1rem;
}
.contatos h3{
    font-size: 1rem;
    padding-bottom: 1rem;
}
.contatos-secao{
    gap: 90px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.contatos-secao div{
    cursor: pointer;
    transition: all 400ms ease-in   ;
}
.contatos-secao div:hover{
    color: #2d5d5f;
}