@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Staatliches&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Staatliches', 'sans-serif';
}

body {
    background-image: url(imagensutilizadas/imagensutilizadas1/fotofundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.container {
    background-color: white;
    width: 500px;
    height: 85vh;
    padding: 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, .212);
    border: 2px solid #2D5D5F;
    border-radius: 30px;
    display: flex;
    flex-direction: column; /* Para permitir rolar o conteúdo se necessário */
    justify-content: center;
    align-items: center;

}

.imglogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-top: 7.5rem;
}

.imglogo img {
    width: 80%;
    height: auto;
    
}

.form input, .form textarea, .form select {
    width: 100%;
    border: 2px solid #2D5D5F;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, .212);
    margin-bottom: 1rem;
}

.form-header {
    width: 100%;
    justify-content: space-between;
    font-size: 9px;
    text-align: center;
    padding: 3rem;
    position: relative;
    top: -1.2rem;
    font-family: 'Staatliches';
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    width: 100%;
    margin-top: 2.5rem;
    background-color: #2D5D5F;
    padding: 1rem;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    font-size: 0.93rem;
    font-weight: 500px;
    position: relative;
    top: -1.5rem;
    border: none;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, .212);
}

.login-button button:hover {
    background-color: #182f30;
}

.login {
    position: relative;
    top: -5rem;
    text-align: center;
    font-size: 0.8rem;
}

a.fl {
    color: #007bff;
}

a.fl:visited {
    color: #007bff;
}

.imgnumber {
    position: relative;
    top: 20.2rem;
    left: 3rem;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #2D5D5F;
    margin: 5px auto;
    border-radius: 1px;
}

.input-group {
    display: flex;
    padding: 0rem 0;
    flex-direction: column;
    position: relative;
    top: -4rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
   
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2;
}

@media screen and (max-width: 1440px) {
    .container {
        width: 28%;
        height: 95vh;
        position: relative; /* Adiciona contexto para o posicionamento, se necessário */
        overflow: hidden;
    }

    .imglogo {
        max-width: 200px; /* Define um tamanho máximo para a imagem */
        height: auto; /* Mantém a proporção da imagem */
        padding-top: 3rem; /* Espaço superior, se necessário */
        display: block; /* Garante que a imagem seja tratada como um bloco */
        position: relative;
        left: 2.7rem;
        width: 100%;
        height: 150px;
        padding-top: 1.5rem;
    }
      
    .imgnumber {
        position: relative;
        top: 16rem;
        left :3rem;
    }

    .login-button button {
        font-size: 0.85rem;
        margin-top: 1.9rem;
    }

    .form-header {
        padding: 1rem;
        position: relative;
        top: -2.5rem;
    }

    .login {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1366px) {
    body {
        overflow-y: scroll;
    }
    
    .container {
        width: 28%;
        height: 95vh;
        overflow: hidden; /* Permite rolar o contêiner se necessário */
    
    }

    .imglogo {
        width: 85%;
        height: auto; /* Mantém a proporção da imagem */
        display: block; /* Garante que a imagem seja tratada como um bloco */
        position: relative;
        left: 2.6rem;
        height: 150px;
        padding-top: 4.6rem;
    }
    
    .form input, .form textarea, .form select {
        width: 100%;
        border: 2px solid #2D5D5F;
        border-radius: 8px;
        outline: none;
        padding: 0.4rem;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, .212);
        margin-bottom: 0.2rem;
    }
    
    .input-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 0rem;
        position: relative;
        
    }

    .input-group {
        display: flex;
        padding: 1.5rem 0rem;
        flex-direction: column;
        position: relative;
        top: -4rem;
        font-size: 0.9rem;
    }
      
    .imgnumber {
        position: relative;
        top: 16.1rem;
        left: 2.5rem;
    }

    .login-button button {
        width: 100%;
        margin-top: 2.1rem;
        background-color:#2D5D5F;
        padding: 0.8rem 0.8rem;
        border-radius: 30px;
        cursor: pointer;
        color: white;
        font-size: 0.93rem;
        font-weight: 500px;
        position: relative;
        top:-1.5rem;
        border: none;
        box-shadow: 3px 7px 10px rgba(0, 0, 0, .212);
    }

    .form-header {
        position: relative;
        top: 0.3rem;
        font-size: 0.5rem;
    }

    .login {
        position: relative;
        top:-6.5rem;
        text-align: center;
        font-size: 0.8rem;
    }

    .form label {
        display: block;
        position: relative;
        top: 0.4rem ; /* Ajusta a margem abaixo das labels */
        font-size: 0.9rem; /* Ajusta o tamanho da fonte das labels */
    }
}




@media screen and (max-width: 480px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    .form-header {
        font-size: 1.1rem;
    }

    .login-button button {
        font-size: 0.75rem;
    }

    .login {
        font-size: 0.7rem;
    }
}
