@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: "Aleo", serif;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}
.content{
    z-index: 1000;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2d5d5f;
    padding-inline: 16px;
    position: fixed;
    padding-left: 1rem;
}
.nav{
    gap: 200px;
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center; /* Alinha verticalmente os elementos no centro */
}

.logo h3 {  
    text-transform: uppercase;
    color: #000;
    font-size: 1.5rem;
}
.logo img{
    width: 50px;
    height: 50px;
} 
.nav-list{
    display: flex;
    gap: 32px;
}
.nav-list a{
    font-size: 1.8rem;
     color: #7e7e7e;
     padding-block: 16px;
}
.content .nav-list li a{
    padding: 0 0.1rem 0.1rem 0.1rem;
    color: #d9d9d9;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}
.content .nav-list li a:hover{
    background-color: #2d5d5f;
    border-bottom: 4px solid #d9d9d9;
    color: #d9d9d9;
}
.hamburguer{
    border: none;
    background: none;
    border-top: 3px solid #7e7e7e;
    cursor: pointer;
}
.hamburguer::before,.hamburguer::after{
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: #7e7e7e;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

/* FIRST SECTION */

.first-section{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
}
.first-section .topo-site{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-section h1{
    padding: 0 10px;
    color: #7e7e7e;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-right: 4px;
}
.first-section h2{
    color: #2d5d5f;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.btn button{
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #2d5d5f;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 6rem;
    transition: all 400ms ease-in;
}
.btn button:hover{
    border: 1px solid #2d5d5f;
    background-color: transparent;
}
.btn{
    gap: 10px;
    width: 380px;
    display: flex;
    justify-content: space-between;
}
.btn a{
    color: #000;
}

/* SECAO DO SOBRE NOS */
.sobre-nos{
    flex-direction: column;
    background-color: #d9d9d9;
    width: 100%;
    height: 100%;
    padding-right: 1rem;
    padding-bottom: 12rem;
    color: #2d5d5f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobre-nos img{
    width: 300px;
    height: 500px;
    margin-top: 10rem;
    margin-left: 5rem;
    border: 2px solid rgb(155,155,155);
    position: relative; /* Permite mover a imagem com relação ao seu posicionamento atual */
    animation: flutuar 2s ease-in-out infinite alternate; 
}
@keyframes flutuar{
    0%{
        top: 0; /* Posição inicial no topo */
    }
    100%{
        top: 3.0rem; /* Move a imagem 30px para baixo */
    }
}
.main{
    display: flex;
    justify-content: space-between;
}
.contentsobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentsobre h2{
    margin-left: 18px;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.contentsobre p{
    margin-left: 20px;
    text-align: center;
    font-size: 1.5rem;
    width: 370px;
}

/* CARDS */
.usar {
    display: flex;
    flex-direction: column; /* Garante que os elementos fiquem em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    padding: 10rem 2rem;  /* Padding flexível para telas pequenas */
    background-color: #d9d9d9;
    width: 100%; /* Garante que a seção ocupe 100% da largura */
    box-sizing: border-box; /* Inclui padding na largura total */
}

.usar .titulo {
    text-align: center; /* Centraliza o texto */
    color: #2d5d5f;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem; /* Espaçamento entre o título e os cards */
}

.cards {
    display: flex; /* Permite que os cards "quebrem" linha em telas pequenas */
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards */
    gap: 20px; /* Espaço entre os cards */
}

.card1 {
    background: linear-gradient(to left, #2d5d5f, #397a7c, #54adb0);
    height: 300px;
    width: 100%;
    max-width: 250px;
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #2d5d5f;
    transition: 0.2s;
    text-align: center;
}

.card1:hover {
    transform: scale(1.05);
}

.card1 i {
    font-size: 4rem;
}

.card1 h3 {
    font-size: 1rem;
    color: #fff;
    margin-top: 20px;
}

.card1 p {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 20px;
}

/* FAQ */
.faq{
    background-color: #d9d9d9;
    padding: 10rem 10%; 
}
.interface{
    padding-top: 1rem;
    margin-bottom: 6rem;
}
.faqtitulo1 h2,.faqtitulo2 h2,.faqtitulo3 h2{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin: 0 0 0.5rem 0; /* Adiciona 2rem de margem inferior */
    cursor: pointer;
    text-align: start;
    color: #d9d9d9;
    font-size: 2rem;
    background-color: #2d5d5f; 
}

.faq .titulo{
    text-align: start;
    color: #2d5d5f;
    font-size: 2rem;
}
.faqtext1, .faqtext2, .faqtext3{
    padding-top: 1.5rem;
    margin-top: 0.5rem;
    background-color: #fff;
}
.faqtext1, .faqtext2, .faqtext3 p{
    font-size: 3rem;
    padding: 1rem 0 2rem 2rem;
}
#faqtext1, #faqtext2, #faqtext3 {
    display: none;
}

/* CONTATOS */
.contatos{
    width: 100%;
    background-color: #2d5d5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 1rem;
}
.contatos h3{
    font-size: 1rem;
    padding-bottom: 1rem;
}
.contatos-secao{
    gap: 90px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.contatos-secao div{
    cursor: pointer;
    transition: all 400ms ease-in   ;
}
.contatos-secao div:hover{
    color: #2d5d5f;
}

footer{
    height: 25px;
    background-color: #2d5d5f;
    color: #fff;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* MEDIA QUERIES */
@media (max-width: 768px) {
    /* html{
        font-size: 65%;
    } */
    .hamburguer{
        z-index: 1;
        display: block;
    }
    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #2d5d5f;
        clip-path:  circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    .nav-list a{
        font-size: 24px;
        opacity: 0;
    }
    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }
    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .nav.active .nav-list a{
        opacity: 1;
    }
    .nav.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.active .hamburguer::before{
        transform: rotate(135deg);
    }
    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    .first-section h1{
        font-size: 1rem;
    }
}
@media (min-width: 520px) and (max-width: 760px){
    .first-section h1{
        font-size: 0.1rem;
    }
}
@media (min-width: 769px){
    .hamburguer{
        display: none;
    }
    .btn{
        gap: 30px;
        width: 600px;
    }
    .first-section h1{
        margin-top: 12rem;
    }
}
@media (min-width: 520px) and (max-width: 850px){
    .first-section h1{
        font-size: 1.2rem;
    }
    .cards{
        flex-direction: row;
    }
}
@media (max-width: 400px){
    .logo h3{
        display: none;
    }
    .first-section h1{
        margin-top: 100px;
        font-size: 0.8rem;
    }
    .first-section h2{
        font-size: 1.5rem;
    }
    .btn{
        width: 300px;
    }
    .contentsobre p{
        width: 300px;
    }
}   

@media (min-width: 850px){
    .contentsobre h2{
        margin-top: 20rem;
    }
    .contentsobre p{
        margin-right: 10px;
    }
    
    .usar .titulo{
        font-size: 5rem;
    }
    .contentsobre h2{
        font-size: 5rem;
    }
    .contentsobre p{
        margin-left: 0px;
        font-size: 2rem;
        width: 600px;
    }
    .topo-site h1{
        font-size: 3rem;
    }
    .topo-site h2{
        font-size: 2rem;
    }
    .contatos h3{
        font-size: 3rem;
    }
    .card1 {
        height: 340px;
        max-width: 250px;
        border-radius: 20px;     
    }
    footer{
        height: 30px;
    }
    .btn{
        width: 600px;
        gap: 40px;
    }
    .first-section h1{
        margin-top: 8rem;
    }
    .first-section h2{
        font-size: 5rem;
    }
}
@media (min-width: 768px) and (max-width: 1060px){
    html{
        font-size: 40%;
    }
    .nav{
        gap: 40px;
    }
    .first-section h1{
        font-size: 3rem;
    }
    .first-section h2{
        font-size: 4rem;
    }
    .card1 p{
        font-size: 2rem;
    }
    .contentsobre p{
        margin-left: 0px;
        font-size: 2.5rem;
        width: 600px;
    }
    
}
