
/*  ==================================  CARDS  =========================  */

.container{
    margin-bottom: 15px;
    height: 91px;
    width: 80%;
    font-size: 1.4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .bemVindo{
    height: 250px;
    width: 70%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
}

.cards {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 6.5rem;
    width: 95%;
    margin-left: 25px;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.3s ease;
    width: 90%;
}

.caixa .titulo {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 7px;
}

.caixa .valor {
    width: 50%;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 14px;
}

.caixa:hover {
    background-color: #89e4e7;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-15px);
    filter: brightness(1.1);
}

/*  ==================================  ATALHOS  =========================  */
.atalhos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.caixaAtalho {
    position: relative;
    width: 46%;
    min-height: 175px;
    margin: 15px 0;
    text-align: center;
    color: white;
    overflow: hidden;
    text-decoration: none;
    border-radius: 22px;
    height: 180px;
    padding: 0;
}

.caixaAtalho img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.caixaAtalho h2,
.caixaAtalho .consultaConteudo {
    position: relative;
    z-index: 3;
    color: white;
    margin: 0;
    padding: 10px 0;
}

.caixaAtalho .consultaConteudo{
    width: 80%;
    margin-left: 10%;
}

.caixaAtalho h2 {
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding-top: 30px;
    font-size: 2.3rem;
}

.caixaAtalho:hover img {
    filter:brightness(50%);
}

.caixaAtalho:hover .consultaConteudo {
    opacity: 1;
}

.caixaAtalho h2:hover{
    color: #2d979b;
}


/*  ==================================  RESPONSIVO  =========================  */
/* Responsividade */
@media (max-width: 1024px) {
    /* Ajustes existentes */
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        width: 90%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .caixa .valor {
        font-size: 1.1rem;
    }

    .caixa:hover {
        background-color: initial;
        transform: none;
        filter: brightness(1.1);
    }

    .main {
        margin-left: 0;
        height: 100%;
        width: 100%;
    }

    /* Ajustes para container no topo */
    .container {
        width: 95%;
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin: 0 auto;
        justify-items: center;
    }

    .caixa .valor {
        font-size: 1.8rem;
    }

    .caixa:hover {
        background-color: initial;
        transform: none;
        filter: brightness(1.1);
    }

    .caixa .titulo {
        font-size: 1.2rem;
    }

    .bemVindo{
        margin-top: 10px;
    }

    .main .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
    }

    .caixaAtalho {
        width: 100%;
        margin: 15px auto;
        padding: 10px;
    }

    .caixaAtalho h2 {
        font-size: 1.4rem;
    }

    .caixaAtalho .consultaConteudo {
        font-size: 0.9rem;
    }

    .container {
        width: 90%;
        font-size: 1.2rem;
    }

    .atalhos {
        margin-top: 200px;
    }
}

@media (max-width: 600px) {
    .barra-lateral {
        position: fixed;
        left: -250px;
    }

    .max_barra_lateral {
        left: 0;
    }

    .menu {
        display: flex;
        background-color: var(--color-boton);
    }

    .menu i:nth-child(2) {
        display: none;
    }

    main.min_main {
        margin-left: 0;
    }
    .cards {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .caixaAtalho {
        margin: 15px auto;
        padding: 10px;
    }

    .caixaAtalho h2 {
        font-size: 1.4rem;
    }

    .caixaAtalho .consultaConteudo {
        font-size: 0.9rem;
    }

    .container {
        width: 90%;
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Ajustes existentes */
    .caixaAtalho {
        width: 80%;
        height: auto;
        margin: 15px auto;
    }

    .caixaAtalho h2 {
        font-size: 2rem;
    }

    .caixaAtalho .consultaConteudo {
        font-size: 1rem;
    }

    .caixaAtalho img {
        filter: brightness(50%);
    }

    .caixaAtalho .consultaConteudo {
        opacity: 1;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        width: 90%;
        margin: 0 auto;
        justify-items: center;
    }
    .cards > :nth-child(3) {
        grid-column: span 2;
        justify-self: center;
        width: 55%;
    }
    .main .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bemVindo {
        margin-top: 20px;
    }
    .container {
        width: 80%;
        font-size: 1.4rem;
    }
    .caixa {
        width: 100%;
        padding: 20px;
        font-size: 1.2rem;
    }

    .caixaAtalho h2 {
        font-size: 1.8rem;
    }

    .caixaAtalho .consultaConteudo {
        font-size: 1.2rem;
    }
    .atalhos {
        margin-top: 90px;
    }
}