.geral{
    padding: 0;
    min-height: 100vh; /* Altura total da tela */
    width: 100vw;
    padding: 10px;
    margin-left: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: #2d979b;
}
.bemVindo{
    display: flex;
}

/*  ==================================  CARDS  =========================  */
.cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 20px auto;
    justify-items: center;
    gap: 12px;
    margin-bottom: 2rem;
}

.caixa .valor {
    font-size: 1.8rem;
    margin-top: 12px;
    color: #236566;
}

.caixa:hover {
    background-color: #89e4e7;
    color: rgb(69, 72, 72);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-15px);
    filter: brightness(1.1);
}

.caixa .titulo {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #2d979b;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.3s ease;
    width: 90%;
}



.video {
    position: relative;
    overflow: hidden;
    margin: 5px auto; /* Cria uma distância entre o carrossel e o vídeo */
    width: 90%; /* Ajusta a largura para 90% do contêiner */
    height: auto; /* Mantém a altura automática */
    padding-bottom: 56.25%; /* Proporção 16:9 */
    border-radius: 15px; /* Borda arredondada */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra ao redor do vídeo */
    margin-bottom: 2rem;
  }
  
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .videoTitle {
    margin: 3rem auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px; /* Espaço entre o título e o vídeo */
    color: #2d979b;
  }

@media (min-width: 1024px){
    .geral {
        min-height: 100vh; /* Altura total da tela */
        width: calc(100vw - 250px);
        top: 0;
        padding: 10px;
        margin-left: 250px;
    }
    .container{
        margin-bottom: 15px;
        height: 91px;
        width: 80%;
        font-size: 1.4rem;
        width: 100%;
        display: flex;
        justify-content:left;
        align-items: center;
        margin-left: 230px;
    }
    .header{
        margin-left: 20%;
    }

    .cards {
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        height: 6.5rem;
        width: 95%;
        margin-left: 25px;
    }
    
    .caixa {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 6rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        transition: transform 0.3s ease;
        width: 90%;
    }
    
    .caixa .titulo {
        font-size: 1.4rem;
        text-align: center;
        margin-top: 7px;
    }
    
    .caixa .valor {
        width: 50%;
        font-size: 1.7rem;
        display: flex;
        justify-content: center;
        margin-top: auto;
        margin-bottom: 14px;
    }
    
    .caixa:hover {
        background-color: #89e4e7;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-15px);
        filter: brightness(1.1);
    }
    .video {
        padding-bottom: 40%; /* Proporção ainda menor */
        max-width: 800px; /* Limite de largura */
      }
}



@media screen and (min-width: 768px) and (max-width: 1024px){
    .geral {
        padding: 0;
        min-height: 100vh; /* Altura total da tela */
        width: 100vw;
        top: 0;
        margin-left: 0;
        padding: 10px;
    }
    .video {
        padding-bottom: 50%; /* Proporção reduzida */
        max-width: 600px; /* Limite de largura */
      }
      .container .aba{
        font-size: 3.5rem;
      }
      .carousel-caption{
        font-size: 3rem;
      }
      .caixa .titulo {
        font-size: 1.7rem;
      }
}